.row.new-comment-box
  - if logged_in?
    .small-10.small-offset-1.columns
      = form_for :comment, url: comments_path, html: { class: 'new-coment-form' } do |f|
        .row.collapse
          - if @reply
            %strong new reply
          - else
            %strong new comment
        .row.collapse
          .small-12.columns
            = f.text_area :body, id: 'new-comment-textarea'
        .row.collapse
          = f.submit 'submit', class: 'button postfix badge-background form-button-hover'
  - else
    %p.text-center You must be #{link_to "logged in", login_path} in order to comment. New user? #{link_to "Sign up!", new_user_path}
