- content_for :head do
  = stylesheet_link_tag 'styles/posts', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'styles/comments', 'data-turbolinks-track' => true
  = javascript_include_tag "/js/autosize.min.js", 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/posts', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/comments', 'data-turbolinks-track' => true

-# Render everything else
= render template: "layouts/application"
