- content_for :title do
  = @post.title
- content_for :head do
  = stylesheet_link_tag 'styles/posts', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'styles/static', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'styles/comments', 'data-turbolinks-track' => true
  = stylesheet_link_tag "styles/posts/#{@post.category}", 'data-turbolinks-track' => true
  = stylesheet_link_tag '/css/animate.css', 'data-turbolinks-track' => true
  = javascript_include_tag "/js/autosize.min.js", 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/posts', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/static', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/comments', 'data-turbolinks-track' => true
  = javascript_include_tag "/js/notify.js", 'data-turbolinks-track' => true
  = javascript_include_tag "https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"
- content_for :body do
  = render "posts/post_nav"

-# Render everything else
= render template: "layouts/application"
