<% provide(:title, "Log in") %>

<div class="row">
  <div class="small-6 small-offset-3">
    <h2 class="text-center">Log in</h2>
  </div>
</div>
<% if flash[:error] %>
  <div class="row">
    <div class="small-6 small-offset-3">
      <label class="error"><%= flash[:error] %></label>
    </div>
  </div>
<% end %>
<div class="row collapse">
  <div class="small-6 small-offset-3 columns">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="row collapse">
        <div class="small-3 columns">
          <%= f.label :email_or_username, "Email/username", class: 'prefix' %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :email_or_username, placeholder: 'example@example.com' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 columns">
          <%= f.label :password, class: 'prefix' %>
        </div>
        <div class="small-9 columns">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-6 columns">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
        </div>
        <div class="small-2 columns">
          <%= f.submit "Log in", class: 'button expand' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-6 small-offset-3">
    <p class="text-right">New user? <%= link_to "Sign up now!", users_path %></p>
  </div>
</div>
