- provide :title, 'About'
- content_for :head do
  = stylesheet_link_tag 'styles/posts', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'styles/static', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/posts', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/static', 'data-turbolinks-track' => true
- content_for :body do
  = render 'static_nav'

#title-row-container
  .row(data-turbolinks-permanent)
    .small-10.small-offset-1.large-12.large-offset-0.columns
      #title-container-no-bottom
        %h1.first-header Mark Aligbe
        %h3.last-header About

.row(data-turbolinks-permanent)
  .small-10.small-offset-1.large-12.large-offset-0.columns#main-content
    %section
      .section-header.badge-background#lone-header
        %h3 Who I Am
      %p I enjoy working on complex systems; I ﬁnd the challenge of breaking down an intricate system into smaller pieces and realizing the design intensely rewarding. Sometimes, I go the reverse, turning my once simple desktop into a mini-server, complete with RAID 5 and SSH, FTP, and HTTP access. When I am not programming or designing hardware, I may practice my cello or indulge my audiophilia.
    %section
      .section-header.badge-background
        %h4 About This Blog
      %p This is a site where I write about my interests, which includes things I've done in the past, shows, movies, or books I've watched or read, or just thoughts that cross my mind, and I think that someone out there might sympathize. Some of the things you might find here:
      %ul.bullet-less-list
        %li Hardware projects
        %li Software projects
        %li Coding tidbits
        %li Computer science tidbits
        %li Anime reviews
        %li Game thoughts
        %li and so on&hellip;
    %section
      .section-header.badge-background
        %h4 Contact Me
      %p If you want to reach out to me more directly than through comments, feel free to #{content_tag :a, 'email', href: 'mailto:i.am@markaligbe.com'} me. You can also follow me on #{content_tag :a, 'GitHub', href: 'https://github.com/kugurst'}.
