- content_for :head do
  = stylesheet_link_tag 'styles/posts', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'styles/static', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/posts', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/static', 'data-turbolinks-track' => true
- content_for :body do
  = render 'static_nav'

#site-content
  #greeting
    %h1#message= greeting_message
    %h3#explanation pick a category below to explore, or scroll down to view my recent posts
  #category-row
    - i = 1
    - Post::CATEGORIES.each do |c|
      - next if banned_category c
      - cat_str = c.to_s.pluralize.capitalize
      %a.circle(id="cat-#{i}" href="#{c.to_s.pluralize}")= cat_str[0]
      %span.mobile-circle-desc= cat_str[1, cat_str.length]
      %br
      - i += 1
  .category-description-container
    - i = 1
    - Post::CATEGORIES.each do |c|
      - next if banned_category c
      .category-description(id="cat-#{i}-desc")
        %h4= c.to_s.pluralize.capitalize
        %p= get_description(c)
      - i += 1
%hr#site-content-separator.badge-background

- @posts.each_with_index do |post, i|
  - next if banned_category post[:category]
  - cat_index = Post::CATEGORIES.index(post[:category]) + 1
  -# %div(class="alt-bg-ribbon cat-background-#{cat_index}")
  .alt-bg-ribbon
    .post-cat-badge
      %h1(class="perma-circle cat-#{cat_index}-perma")= post.category.capitalize()[0]
  = render 'posts/category_post_item', post: post
