- content_for :head do
  = stylesheet_link_tag 'styles/posts', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'styles/static', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/posts', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/static', 'data-turbolinks-track' => true
- content_for :body do
  = render 'posts/post_nav'

#site-content
  #greeting
    %h1#message= greeting_message
    %h3#explanation pick a category below to explore, or scroll down to view my recent posts
  #category-row
    - i = 1
    - Post::CATEGORIES.each do |c|
      %a.circle(id="cat-#{i}" href="#{c.to_s.pluralize}")= c.to_s.capitalize()[0]
      - i += 1
  .category-description-container
    - i = 1
    - Post::CATEGORIES.each do |c|
      .category-description(id="cat-#{i}-desc")
        %h4= c.to_s.pluralize.capitalize
        %p= get_description(c)
      - i += 1

- @posts.each_with_index do |post, i|
  .post-cat-badge
    %h1(class="perma-circle cat-#{Post::CATEGORIES.index(post[:category]) + 1}-perma")= post.category.capitalize()[0]
  .post-container
    %a.post-link(href="#{post_cat_path_fallback(post)}")
      .image-container
        = image_tag post.get_image_path(:splash_img), class: 'post-image'
        .image-overlay-text
          .image-overlay-table
            .image-overlay-cell
              .image-overlay-text-center
                %h1= post.title
                %h3= post.additional_info[:subtitle]
