.post-container
  %a.post-link(href="#{post_cat_path_fallback(post)}")
    .mobile-post-title
      %h1= post.title
    .image-container
      = image_tag post.get_image_path(:splash_img), class: 'post-image'
      .image-overlay-text
        .image-overlay-table
          .image-overlay-cell
            .image-overlay-text-center
              %h1= post.title
              - unless (subtitle = post.additional_info[:subtitle]).blank?
                %h3= subtitle
  - if !(credit = post.additional_info[:splash_img_credit]).blank?
    - if credit =~ /\A#{URI::regexp}\z/
      .image-credit image credit: <a href="#{credit}">#{credit}</a>
    - else
      .image-credit image credit: #{credit.html_safe}
