- cat_index = Post::CATEGORIES.index(@category) + 1

#post-nav
  %span
    %h1(class="circle-small header-badge-color-#{cat_index}")= @post.nil? ? @category.to_s.capitalize()[0] : @post.category.capitalize()[0]
  %ul.side-nav
    - if logged_in?
      %li.bold-link.static-link
        %a= "@" + current_user.name
      %li.bold-link.static-link
        = link_to "Log Out", logout_path, method: :delete
    - else
      %li.bold-link.static-link
        %a(href="#{login_path}") Log In
    %hr/
    - @posts.each do |post|
      %li(id="#{post == @post ? 'current-post-' + cat_index.to_s : ''}" class="header-badge-link-#{cat_index}")
        - if post == @post
          %a= post.title
        - else
          %a(href="#{post_cat_path_fallback(post)}")= post.title
    - unless @posts.empty?
      %hr/
    %li.bold-link.static-link
      %a(href="/") Home
    %li.bold-link.static-link
      %a(href="#{about_me_path}") About Me
    - Post::CATEGORIES.each do |c|
      - unless c == @category || banned_category(c)
        - cat_index = Post::CATEGORIES.index(c) + 1
        %li(class="header-badge-link-#{cat_index} bold-link")
          %a(href="/#{c.to_s.pluralize}")= c.to_s.pluralize.capitalize
