- content_for :head do
  = stylesheet_link_tag 'styles/posts', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'styles/static', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'styles/category', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/posts', 'data-turbolinks-track' => true
  = javascript_include_tag 'pages/static', 'data-turbolinks-track' => true
- content_for :title, @category.to_s.pluralize.capitalize
- content_for :body do
  = render 'posts/post_nav'

- cat_index = Post::CATEGORIES.index(@category) + 1
#site-content
  #greeting
    %h1#message= @category.to_s.pluralize.capitalize
    %h3#explanation= get_description @category
  #category-row
    %h1(class="perma-circle-no-margin cat-#{cat_index}-perma")= @category.to_s.pluralize.capitalize()[0]
    .header-buffer

- @posts.each_with_index do |post, i|
  .post-date
    %h2= format_time_just_calendar(post.u_at)
  %hr(class="post-date-separator pd-separator-#{cat_index}")/
  = render "posts/category_post_item", post: post
