%article
  #title-row-container
    .row(data-turbolinks-permanent)
      .small-10.small-offset-1.large-12.large-offset-0.columns
        #title-container
          %section
            %h1.first-header= @post.title
            %h3.last-header= @post.additional_info[:subtitle]
          - if (byline = @post.additional_info[:byline])
            .byline-container
              %em= byline.html_safe
        %hr(class="title-rule bg-#{@post[:category].to_s}")

  .row(data-turbolinks-permanent)
    .small-10.small-offset-1.large-12.large-offset-0.columns#main-content
      -# The post u_at is updated whenever the post source is changed. Thus, we won't generate a new cache even if the comments change
      = Rails.cache.fetch(@post.cache_key) do
        - render @post.file_path

= render "posts/show_comments"
