!!! 5
!!!
%html{lang: 'en'}
  %head
    %title= 'Cinnamonroll' + (content_for?(:title) ? ": " + yield(:title) : "")
    %link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=2bbn0XjPar")/
    %link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=2bbn0XjPar")/
    %link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=2bbn0XjPar")/
    %link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=2bbn0XjPar")/
    %link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=2bbn0XjPar")/
    %link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=2bbn0XjPar")/
    %link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=2bbn0XjPar")/
    %link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=2bbn0XjPar")/
    %link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=2bbn0XjPar")/
    %link(rel="icon" type="image/png" href="/favicon-32x32.png?v=2bbn0XjPar" sizes="32x32")/
    %link(rel="icon" type="image/png" href="/android-chrome-192x192.png?v=2bbn0XjPar" sizes="192x192")/
    %link(rel="icon" type="image/png" href="/favicon-96x96.png?v=2bbn0XjPar" sizes="96x96")/
    %link(rel="icon" type="image/png" href="/favicon-16x16.png?v=2bbn0XjPar" sizes="16x16")/
    %link(rel="manifest" href="/manifest.json?v=2bbn0XjPar")/
    %link(rel="mask-icon" href="/safari-pinned-tab.svg?v=2bbn0XjPar" color="#5bbad5")/
    %link(rel="shortcut icon" href="/favicon.ico?v=2bbn0XjPar")/
    %meta(name="msapplication-TileColor" content="#da532c")/
    %meta(name="msapplication-TileImage" content="/mstile-144x144.png?v=2bbn0XjPar")/
    %meta(name="theme-color" content="#ffffff")/
    %meta(charset="utf-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/

    = stylesheet_link_tag "application"
    -# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    -# javascript_include_tag "/js/modernizr.js"
    = javascript_include_tag "/js/forge.min.js", 'data-turbolinks-track' => true
    - if Rails.env != 'production'
      = javascript_include_tag "/js/autosize.min.js", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head

  %body
    = include_gon
    = Gon::Base.render_data
    %nav.top-bar(data-topbar role="navigation")
      %section.top-bar-section
        .row.collapse
          .small-5.columns
            %ul.left
              %li
                %a(href="#") Left Nav Button

          .small-2.columns
            %ul.title-area
              %li.name
                %h1
                  %a{href: root_path} Cinnamonroll

          .small-5.columns
            %ul.right
              %li.has-dropdown
                %a(href="#") Right Button Dropdown
                %ul.dropdown
                  %li
                    %a(href="#") First link in dropdown
                  %li.active
                    %a(href="#") Active link in dropdown

    %br/

    = yield
